body {
  background-color: wheat;
  text-align: center;
  color: aliceblue;
  font-family: serif;
}

h1 {
    font-family: sans-serif;
}

h2 {
font-family: sans-serif;
}

p {
    width: 40px;
    text-align: left;
    font-family: fantasy;
    font-size: 14px;
    color: white;
    border-color: aqua;
    border-width: 30px;
    margin: 50px;

}
